extends layout

block content
	div(ID="title")
		h1(align="center")=title
	div(id="Games" align="center")
		a(ID="Game1Button", href="/game1")
			image(class="image-rounded", alt="Game 1", src="images/gamebutton.png", class="button" height="135" width="194", style="text-align:center;")
		p
			b Game 1